<%#= link_to "Log out", log_out_path, :class => 'log_out_position' %>
<% if current_user.provider.present? %>
Logged in using <%= current_user.provider %>.
<% else %>
Logged in using <%="narmal sign in"%>.
<% end %>
<%= form_tag stores_path, :method => 'get', :class => "search_position" do %>
<p>
 <%= text_field_tag :search, params[:search] %>
 <%= submit_tag "Search", :name => nil %>
</p>
<%end%>
<% if current_user.provider == 'facebook'%>
<div id="fb-root"></div>
<a href="#" id="invite_fb_friends">Invite your friends</a>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<% end %>
<h1>Drugs List</h1>
<table>
  <tr>
  	<th><h4>Drugs_name&nbsp;&nbsp;&nbsp;</h4></th>
  	<th><h4>Price&nbsp;&nbsp;&nbsp;</h4></th>
  	<th><h4>Company&nbsp;&nbsp;&nbsp;</h4></th>
  	<th><h4>Quantity&nbsp;&nbsp;&nbsp;</h4></th>
  	<th><h4>Expiring Date&nbsp;&nbsp;&nbsp;</h4></th>
  </tr>	

<% @stores.each do |itam| %>
<tr>
<th><%= itam.drugs_name %></th>
<th><%= itam.price %>&nbsp;</th>
<th><%= itam.company %></th>
<th><%= itam.quantity %></th>
<th><%= itam.date %></th>
<th><%= link_to 'Show', store_path(itam) %>&nbsp;&nbsp;</th>
<th><%= link_to 'Edit', edit_store_path(itam) %>&nbsp;&nbsp;</th>
<th><%= link_to 'Delete', store_path(itam), method: :delete, data: {confirm: 'Are u sure'}  %></th>
</tr>
<% end %>
</table><br>

<%= paginate @stores %><br>

<%= link_to 'New Item', new_store_path %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Billing Itams', billing_items_path %>